<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Connexion MySQL -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/db_java_innovadev</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>

        <!-- Dialecte MySQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Afficher SQL dans console -->
        <property name="show_sql">true</property> <!-- affiche les requêtes SQL dans la console-->
        <property name="format_sql">true</property>

        <!-- Mise à jour automatique des tables -->
        <property name="hbm2ddl.auto">update</property> <!--Hibernate crée/modifie les tables automatiquement-->

        <!-- Entity -->
        <mapping class="com.baye.Produit"/> <!--"Hibernate utilise cette classe"-->

    </session-factory>

</hibernate-configuration>